* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #09969b;
}

body, .text-input{
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgb(153, 233, 87);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.info-container{
    display: flex;
    position: absolute;
    top: 3rem;
    font-size: 3rem;
    color: rgb(153, 233, 87);
    font-weight: bold;
}

.timer{
    margin-right: 3rem;
}

.text-display{
    margin-bottom: 1rem;
    margin-left: calc(1.2rem);
    margin-right: calc(1rem);
}

.text-input{
    background-color: transparent;
    border: 3px solid rgb(65, 112, 27);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
}
.text-input:focus{
    border-color: #09969b;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
    text-decoration: underline;
}